<!DOCTYPE html>
<html>
    <head>
        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
        <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="nav">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="route-info">Train Routes</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1>Train the Trains</h1>
                <p>Analyzes user data to dynamically optimize train schedules</p>
            </div>
        </div>
        <div class="tns">
            <div class="container">
                <h2>Why use this service</h2>
                <p>Before the optimization, the total wait time was {{ session['prw'] }}. After, it was {{ session['pow'] }}.</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="#"/>
                        </div>
                        <div class="thumbnail">
                            <img src="#"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="#" />
                        </div>
                        <div class="thumbnail">
                            <img src="#" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="learn-more">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Creator</h3>
                        <p>Jeremy Margolin</p>
                        <p><a href="https://www.google.com/maps/dir//2118+W+Homer+St,+Chicago,+IL+60647/@41.917151,-87.680939,17z/data=!4m13!1m4!3m3!1s0x880fd295975e7bd5:0x2e19f385adb0a0b1!2s2118+W+Homer+St,+Chicago,+IL+60647!3b1!4m7!1m0!1m5!1m1!1s0x880fd295975e7bd5:0x2e19f385adb0a0b1!2m2!1d-87.680939!2d41.917151">Directions on google maps</a></p>
                    </div>
                    <div class="col-md-4">
                        <h3>Requirements</h3>
                        <p>Our results come from randomized data, it will work with any general data set for transportation (ie: bus/train)</p>
                        <p><a href="http://www.amazon.com/Polyhedral-7-Die-Translucent-Dice-Set/dp/B0015IQOA6/ref=sr_1_9?ie=UTF8&qid=1409602676&sr=8-9&keywords=dungeons+and+dragons+dice">Buy them here.</a></p>
                    </div>
                    <div class="col-md-4">
                        <h3>Contact Us</h3>
                        <p>Phone Number: (312)-589-8440, Email: jsmargolin1@gmail.com</p>
                    </div>
                </div>
          </div>
        </div>
    </body>
</html>